body{
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4ae71cac-8245-4faa-ab00-90280c73c92a/deu1tx8-9abd045e-b740-4cf3-8999-ae4c217c6901.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzRhZTcxY2FjLTgyNDUtNGZhYS1hYjAwLTkwMjgwYzczYzkyYVwvZGV1MXR4OC05YWJkMDQ1ZS1iNzQwLTRjZjMtODk5OS1hZTRjMjE3YzY5MDEuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.S2mMUwZp8qJimph3eHCYqQ8ZLgxcvT1FH1nAeqq0GhI');
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity:.6 */
    
}

h1{
    font-family: 'Castoro', serif;
        font-size: 70px;
    font-weight: 900;
}
 

 .form-control{
opacity: 0.30;
 }

  